
Options -Indexes
DirectoryIndex index.php

AddDefaultCharset UTF-8
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^/]*)$ index.php?menuid=$1 [QSA]
RewriteRule ^([^/]*)/$ index.php?menuid=$1 [QSA]

RewriteRule ^([^/]*)/([^/]*)$ index.php?menuid=$1&pro=$2 [QSA]
RewriteRule ^([^/]*)/([^/]*)/$ index.php?menuid=$1&pro=$2 [QSA]

<Files .htaccess>
  order allow,deny
  deny from all
</Files>
