@charset "UTF-8";
/* CSS Document */

@import "compass/css3";

* {
  box-sizing: border-box;
}
html,
body {
  font-size: 12px;
}
h1 {
  margin: 10px 0 0;
  text-align: center;
}
p {
  margin: 0 0 20px;
  text-align: center;
}
input {
  border: 1px solid #ccc;
  font-size: 12px;
  height: 30px;
  padding: 4px 8px;
  position: absolute;
  width: 50%;
  &:focus {
    outline: none;
  }
}
button {
  text-align: center;
  &:focus {
    outline: none;
  }
  &.btn-search,
  &.btn-reset {
    background: hotpink;
    border: none;
    height: 30px;
    font-size: 12px;
    padding: 4px;
    position: absolute;
    width: 30px;
  }
}

.sample {
  float: left;
  height: 50px;
  margin: 0 8%;
  position: relative;
  width: 34%;
  &.one,
  
  }
