@charset "UTF-8";
/* CSS Document */

/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,700,900&display=swap');


/* End font */

body{
	margin: 0;
	font-family: Roboto;
}
div{
	box-sizing: border-box;
}
h1,p,ul{
	padding: 0;
	margin: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: dimgrey;
}
.popup{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.5)
}
.box1{
	width: 100%;
	float: left;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
.box1 .left{
	width: 15%;
	float: left;
	border-right: 1px solid #ccc;
}
.box1 .right{
	width: 85%;
	float: left;
	padding: 0 10px;
	display: none;

}
.box1 .right ul{
	float: right;
	margin: 10px auto;



}
.box1 .right ul li{
	float: left;
	color: #fff;
	background-color: #fa4616;
	margin: 0 5px;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 5px;
	opacity: 0.8;
}
.box1 .right ul li:hover{
	opacity: 1;

}
.btn-menu{
	background-image: url("../img/baseline_menu_black_18dp.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 35px;
	height: 35px;
	margin: 7px;
	cursor: pointer;
}
.fa {
	position: relative;
	display: table-cell;
	width: 55px;
	height: 36px;
	text-align: center;
	top:12px;
	font-size:20px;
}
.left-menu{
	width: 55px;
	float: left;
	background-color: #222222;
	color: aliceblue;
	overflow: hidden;
	height:100%;
	position: fixed;
	left:0;
	-webkit-transition:width .2s linear;
	transition:width .2s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  	opacity:1;
}
.left-menu:hover{
	width: 200px;
}
.left-menu ul li{
	float: left;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #fe6037;
	box-sizing: border-box;
/*	position:relative;*/
	display:block;
	width:250px;
}
.left-menu ul li i{
	margin-left: 7px;
}
.left-menu ul li span{
	margin-left: 20px;
}
.left-menu ul li:hover{
	background-color: #fa4616;
}
.user-profile{
	width: 55px;
	height: 100px;
	float: left;
}
.user-profile a i{
	width: 100%;
	height: 50%;
	margin-top: 10px;
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	overflow: hidden;
	float: right;
}
.user-name{
	overflow: hidden;
}
.user-name h3{

	margin-bottom: 0;
}
.content{
	width: 96%;
	float: left;
	background-color: #fff;
	padding: 5px;
	margin-left: 55px;
}
table{
	width: 100%;
	border: 1px solid #FA4616;
	border-radius: 10px;
	border-collapse: collapse;
}
table tr th{
	background-color: #222222;
	color: aliceblue;
	border: 1px solid #FA4616;
}
table tr td{
	padding: 5px;
	border: 1px solid #FA4616;

}
table tr:hover{
	background-color: rgba(250,70,22,0.2);
}
#th-left{
	text-align: left;
}
.frm{
	width: 600px;
	background-color: #fff;
	border-radius: 5px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	margin-top: 5px;
}
.box-pro{
	width: 1000px;
	height: 700px;

}
.box-photo{
	width: 79%;
	float: left;
	margin: 2px;

}



.box-desc{
	width: 19%;
	margin: 2px;
	float: left;
}
.header{
	width: 100%;
	float: left;
	background-color: #616163;
	padding: 8px;
	color: #eee;
}
.header p{
	float: right;
	margin: 0;
	cursor: pointer;
}
.header p:hover{
	opacity: 1;
}
.body{
	width: 100%;
	float: left;
	padding: 8px;
}
label{
	width: 100%;
	float: left;
	padding: 8px;
	box-sizing: border-box;
}
.slide-desc{
	width: 100%;
	height: auto;
	float: left;
}
.frm-control{
	width: 100%;
	float: left;
	padding: 8px;
	box-sizing: border-box;
}
.frm-select{
	background-color: rgba(255, 0, 0, 0.5);
}
.footer a{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.btn{
	padding: 8px 15px;
	color: #fff;
	float: right;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
}
.btn:hover{
	opacity: 1;
}
.btn-save{
	background-color: coral;
}
.img-box{
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #ccc;
	background-image: url("../img/defualt_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.img-box input{
	width: 100%;
	height: 100%;
	float: left;
	opacity: 1;
	cursor: pointer;
}
.img-box2{
	width: 80px;
	height: 80px;
	margin: 3px;
}
.pro-img-box{

	width: 100%;
	float: left;

}
.pri-box{
	float: left;
	padding: 10px;
}


/* ////////////////////////////////////////////////////////// */
/* Form Login */
.wrapper{
	width: 100%;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	position: relative;

}
.form-login{
	width: 30%;
	margin: auto;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
}
.frm-login{
	width: 100%;
	min-height: 40px;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 12px;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 0px 1px 1px #eee;
	font-size: 17px;
	background-color: antiquewhite;
}

.form-header{
	width: 100%;
	background-color: #fa4616;
}
#icon {
  width:25%;
  padding: 10px;
	margin-left: 13px;
}
#welcome{
	width: 100%;
	font-size: x-large;
	font-weight: 600;
	color: #eee;
	text-transform: uppercase;
	padding: 15px;
	background-color: #fa4616;
	padding-top: 45px;
  padding-bottom: 45px;
	border-radius: 20px 20px 0 0;
}
.form-body{
	padding: 40px;

}
.form-body a{
	width: 100%;
}
*:focus {
    outline: none;
}
.form-footer{
	width: 100%;

}
.btn-login{
	text-decoration: none;
	width: 100%;
	background-color: #fa4616;
	height: 20px;
	padding: 10px;
	cursor: pointer;
	margin-top: 30px;

	transition: 0.1s;
}

.form-button a{
	text-decoration: none;
	color: #eee;
	font-weight: 500;
}
.btn-login:hover{
	font-size: large;
}
input[class="frm-login"]{
	padding-left: 25px;
  padding-right: 25px;
}
.btn-reset-pass a{
	font-size: 18px;
	text-decoration: none;
	color: grey;
	transition: 0.1s;
}
.btn-reset-pass a:hover{
	font-size: 20px;
}
/* ////////////////////////////////////////////////////////// */
/*End Form Login */
